* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

.container {
  margin-left: 4rem;
  margin-top: 4rem;
  font-size: 0;
}

.container div {
  width: 70px;
  height: 60px;
  border: 1px solid black;
  display: inline-block;
  position: relative;
  font-size: 1rem;
}

.container div:nth-child(even) {
  border: 1px solid #ff0000;
}

.container div:nth-child(odd) span:nth-child(2n + 2) {
  color: #13a100;
}

.container div:nth-child(2) span:last-of-type {
  color: #0178ff;
}

.container div:nth-child(6) span:not(:last-of-type) {
  color: #ffe601;
}

.container div span:nth-child(1) {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.container div span:nth-child(2) {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.container div:last-child span:last-child {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
}

.container div:first-child span:last-child {
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
}
